<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/my.css">
    <title>HTB Bank</title>
    
</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <h2>HTB Bank</h2>
            <nav>
                <ul>
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="#">Support</a></li>
                </ul>
            </nav>
        </aside>
        <main class="main-content">
            <header>
                <h1>Dashboard</h1>
                <div class="user-info">
                    <span>Christos Christopoulos</span>
                </div>
            </header>
            <section class="stats">
                <div class="card balance">
                    <h3>Balance</h3>
                    <p>1.337 $</p>
                </div>
                <div class="card">
                    <h3>Total Transactions</h3>
                    <p>8</p>
                </div>
                <div class="card">
                    <h3>Total CreditCards</h3>
                    <p>2</p>
                </div>
                <div class="card">
                    <h3>Support Tickets</h3>
                    <p>0</p>
                </div>
            </section>
            <section class="credit-info">
                <h2>CreditCard Information</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Card Type</th>
                            <th>Card Number</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>VISA</td>
                            <td>4485 9825 4354 ****</td>
                        </tr>
                        <tr>
                            <td>MASTERCARD</td>
                            <td>5356 3015 4104 ****</td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <section class="transaction-history">
                <h2>Transaction History</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Transaction ID</th>
                            <th>Transaction Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>3326</td>
                            <td>10/21/2016</td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </main>
    </div>
</body>
</html>
